In [238]:
import pandas as pd
all_data = pd.read_csv('dataset.csv',sep="\t")

In [239]:
all_data.head()

,Unnamed: 0,index,district,id,LAST_NAME,FIRST_NAME,zip,female,dob,regyear,party,electiondate,general,typeofvote,age
0,0,4581539,DUV,103746250,Jennings,Barbara,32225,F,1944-05-23 00:00:00,08/12/2004,REP,11/08/2016,GEN,A,73.0
1,1,6399633,DUV,103699536,Nellenbach,Marlene,32223,F,1944-07-04 00:00:00,09/03/1996,NPA,11/04/2014,GEN,A,73.0
2,2,5068762,DUV,103823224,YORK,MARTHA,32246,F,1948-02-10 00:00:00,10/05/1992,REP,11/04/2008,GEN,Y,69.0
3,3,2390889,CLA,102858200,SUCO,BRANDI,32656,F,1981-09-25 00:00:00,05/16/2000,IDP,11/07/2006,GEN,N,36.0
4,4,7092052,DUV,103844317,Amato,Lisa,32250,F,1972-09-14 00:00:00,10/01/2004,DEM,11/04/2008,GEN,Y,45.0

In [240]:
len(all_data)
# NOTE THIS IS A SAMLE OF 10K

10000

In [241]:
all_data["electiondate"].unique()

## even if people voted early, they are still listed as 11/04/2008 or 11/08/2016

array(['11/08/2016', '11/04/2014', '11/04/2008', '11/07/2006', nan,
       '01/31/2012', '08/30/2016', '11/06/2012', '11/02/2010',
       '08/14/2012', '08/26/2014', '01/29/2008', '05/19/2015',
       '09/05/2006', '09/15/2009', '03/15/2016', '08/24/2010',
       '05/17/2011', '03/24/2015', '03/22/2011', '08/26/2008',
       '05/15/2007', '06/24/2014', '04/16/2013', '04/18/2006',
       '09/18/2007', '10/06/2009', '11/05/2013', '11/06/2007',
       '05/12/2009', '04/01/2008', '04/22/2008', '08/25/2015',
       '09/20/2011', '03/20/2007', '12/09/2008', '08/27/2013',
       '09/19/2006', '04/17/2012', '03/13/2007', '04/19/2011',
       '04/21/2015', '04/22/2014', '06/26/2007', '04/17/2007',
       '12/01/2009', '12/16/2014', '02/17/2015', '08/28/2007',
       '04/05/2011', '11/20/2007', '01/10/2006', '04/02/2013',
       '02/26/2008', '03/14/2006', '04/20/2010', '01/26/2010',
       '05/19/2009', '08/30/2011', '04/19/2016', '02/07/2006',
       '03/13/2012', '10/30/2007', '04/25/2014', '10/02/2007',
       '09/04/2007', '09/09/2014', '12/07/2010', '04/01/2014',
       '03/11/2014', '06/05/2007', '10/16/2007', '04/06/2010',
       '12/05/2006', '04/20/2006', '09/30/2014', '07/04/2010',
       '02/01/2011', '02/02/2010', '09/06/2011', '03/06/2007',
       '03/03/2009', '09/30/2008', '08/31/2010', '04/21/2009', '09/10/2013'], dtype=object)

In [242]:
all_data["general"].unique()

## So, we only want GEN and those who didnt show (aka NAN)

array(['GEN', nan, 'PPP', 'PRI', 'OTH'], dtype=object)

In [263]:
## This will get rid of anything but GEN and no show (RS dont laugh, my or statements didnt work)

## Get rid of anything but GEN
general = all_data.loc[all_data["general"]=="GEN"]
### Nan is not coming up when you call it....
didntshow = all_data.loc[all_data["general"]!= "GEN"]
didntshow = didntshow.loc[didntshow["general"]!= "PPP"]
didntshow = didntshow.loc[didntshow["general"]!= "PRI"]
didntshow = didntshow.loc[didntshow["general"]!= "OTH"]

In [264]:
#confirmed, this is just NANs...we'll put this asside for now
didntshow["general"].unique()

array([nan], dtype=object)

In [249]:
general["electiondate"].unique()
## we just want gen election 2012 and 2016: 11/08/2016 and 11/06/2012

array(['11/08/2016', '11/04/2014', '11/04/2008', '11/07/2006',
       '11/06/2012', '11/02/2010', '06/24/2014', '10/06/2009',
       '02/17/2015', '11/20/2007'], dtype=object)

In [265]:

## Make columns for Gen
general['GEN16'] = 0

general['GEN12'] = 0

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [251]:
general.loc[(general['electiondate'] == "11/08/2016"),'GEN16'] = "1"
general.loc[(general['electiondate'] == "11/06/2012"),'GEN12'] = "1"

/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [253]:
general

,Unnamed: 0,index,district,id,LAST_NAME,FIRST_NAME,zip,female,dob,regyear,party,electiondate,general,typeofvote,age,GEN16,GEN12
0,0,4581539,DUV,103746250,Jennings,Barbara,32225,F,1944-05-23 00:00:00,08/12/2004,REP,11/08/2016,GEN,A,73.0,1,0
1,1,6399633,DUV,103699536,Nellenbach,Marlene,32223,F,1944-07-04 00:00:00,09/03/1996,NPA,11/04/2014,GEN,A,73.0,0,0
2,2,5068762,DUV,103823224,YORK,MARTHA,32246,F,1948-02-10 00:00:00,10/05/1992,REP,11/04/2008,GEN,Y,69.0,0,0
3,3,2390889,CLA,102858200,SUCO,BRANDI,32656,F,1981-09-25 00:00:00,05/16/2000,IDP,11/07/2006,GEN,N,36.0,0,0
4,4,7092052,DUV,103844317,Amato,Lisa,32250,F,1972-09-14 00:00:00,10/01/2004,DEM,11/04/2008,GEN,Y,45.0,0,0
8,8,7621091,DUV,120286726,Gadio,Adama,32206,F,1989-06-01 00:00:00,09/21/2012,DEM,11/08/2016,GEN,E,28.0,1,0
9,9,4305830,DUV,114831837,Schaap,Carole,32257,F,1942-02-04 00:00:00,11/28/2006,INT,11/04/2014,GEN,Y,75.0,0,0
10,10,2075069,CLA,102861065,DOXEY,VICKEY,32656,F,1961-08-20 00:00:00,08/28/2000,REP,11/06/2012,GEN,Y,56.0,0,1
11,11,206657,BAY,116352668,LOGAN,JESSICA,32405,F,1987-10-06 00:00:00,07/01/2008,REP,11/06/2012,GEN,Y,30.0,0,1
12,12,7439038,DUV,103580214,Thomas,Kim,32209,F,1960-04-09 00:00:00,07/31/2003,DEM,11/02/2010,GEN,Y,57.0,0,0
13,13,6210491,DUV,103737024,Zilla,Michael,32210,M,1976-12-06 00:00:00,12/29/1995,REP,11/08/2016,GEN,Y,40.0,1,0
15,15,6121393,DUV,103689734,Brooks,Stephanie,32209,F,1965-01-11 00:00:00,07/07/1983,DEM,11/04/2014,GEN,E,52.0,0,0
18,18,4137718,DES,103212920,Ridley,Charles,34266,M,1936-09-26 00:00:00,01/24/1976,DEM,11/04/2014,GEN,A,81.0,0,0
19,19,590042,BAY,100672916,MAPLES,RACHEL,32405,F,1977-02-24 00:00:00,02/20/1998,REP,11/08/2016,GEN,E,40.0,1,0
25,25,7937893,DUV,103313626,Kelly,Tiny,32219,U,1978-11-21 00:00:00,04/17/2003,DEM,11/08/2016,GEN,E,39.0,1,0
30,30,4375184,DUV,103607864,Walker,Bonnie,32218,F,1950-01-06 00:00:00,08/22/2003,REP,11/08/2016,GEN,E,67.0,1,0
32,32,6572362,DUV,103553305,DLUGOSZ,DEBRA,32246,F,1961-05-22 00:00:00,10/05/1992,REP,11/04/2008,GEN,Y,56.0,0,0
33,33,1913637,CLA,102809429,BETHEL,ALFRED,320735038,M,1948-05-08 00:00:00,05/11/1993,DEM,11/02/2010,GEN,E,69.0,0,0
37,37,2038748,CLA,102819585,SCIUMBATA,MELISSA,32073,F,1958-10-08 00:00:00,12/12/1995,NPA,11/04/2008,GEN,Y,59.0,0,0
39,39,3849066,CLL,116983070,Airoldi,Harold,34108,M,1940-08-21 00:00:00,10/08/2008,NPA,11/08/2016,GEN,A,77.0,1,0
40,40,2439249,CLA,118212648,RALEY,MONTGOMERY,32068,F,1992-07-08 00:00:00,06/17/2010,REP,11/04/2014,GEN,E,25.0,0,0
43,43,2534421,CLA,102846025,OLSON,MICHAEL,32003,M,1969-04-07 00:00:00,05/21/1987,REP,11/06/2012,GEN,E,48.0,0,1
45,45,2335245,CLA,102872524,TRAN,TUYET,32065,F,1964-03-25 00:00:00,11/26/2001,REP,11/02/2010,GEN,Y,53.0,0,0
48,48,2061410,CLA,102913142,PERKINS,COURTNEY,32043,F,1982-07-30 00:00:00,01/11/2005,REP,11/07/2006,GEN,N,35.0,0,0
49,49,4207205,DES,103223519,Banks,Alvin,34269,M,1932-08-17 00:00:00,05/19/1998,DEM,11/04/2014,GEN,E,85.0,0,0
52,52,772744,BAY,100685685,FREE,DONETA,32413,F,1959-12-09 00:00:00,03/15/2000,REP,11/04/2014,GEN,E,57.0,0,0
53,53,3858915,CLL,103062775,Riley,Christopher,34105,M,1964-09-23 00:00:00,09/14/2001,REP,11/02/2010,GEN,A,53.0,0,0
56,56,4272966,DIX,103237681,Endicott,Kathleen,32680,F,1951-06-02 00:00:00,10/04/2004,DEM,11/06/2012,GEN,Y,66.0,0,1
57,57,2470241,CLA,102892230,TORRES,JOSE,32003,M,1969-05-17 00:00:00,10/31/2003,REP,11/06/2012,GEN,A,48.0,0,1
61,61,4419959,DUV,103281151,Surles,Kathy,32216,F,1952-12-05 00:00:00,07/25/1976,REP,11/02/2010,GEN,E,64.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9952,9952,5798638,DUV,103404206,Sherrod,Walter,322257246,M,1961-09-23 00:00:00,09/09/2005,DEM,11/04/2008,GEN,E,56.0,0,0
9954,9954,4982624,DUV,117010840,Stevenson,Martha,32254,F,1956-03-27 00:00:00,10/04/2008,DEM,11/06/2012,GEN,A,61.0,0,1
9956,9956,4176113,DES,103222372,Zipper,Kathryn,34266,F,1929-07-27 00:00:00,11/05/1996,DEM,11/04/2008,GEN,E,88.0,0,0
9958,9958,5831868,DUV,103443630,LUCARELLI,TERENCE,32217,M,1951-12-29 00:00:00,04/27/2004,DEM,11/04/2014,GEN,E,65.0,0,0
9959,9959,3843253,CLL,103057805,Gates,Clare,34114,F,1929-06-08 00:00:00,04/26/2001,REP,11/04/2014,GEN,A,88.0,0,0
9960,9960,6805959,DUV,103395694,Gasparre,Mark,32216,M,1966-04-05 00:00:00,08/14/1997,NPA,11/04/2008,GEN,Y,51.0,0,0
9961,9961,2713876,CLL,122701471,Rodriguez,Domingo,34120,M,1944-12-20 00:00:00,07/31/2015,DEM,11/08/2016,GEN,E,72.0,1,0
9962,9962,7529612,DUV,103614979,Paraso,Adolfo,32246,M,1948-09-27 00:00:00,10/02/1986,REP,11/08/2016,GEN,Y,69.0,1,0
9963,9963,370635,BAY,100643092,STERRETT,PAULA,32407,F,1967-03-30 00:00:00,10/20/1992,REP,11/07/2006,GEN,E,50.0,0,0
9966,9966,5832495,DUV,103485379,Frost,Mary,32224,F,1938-01-03 00:00:00,06/17/2003,REP,11/04/2008,GEN,Y,79.0,0,0
9967,9967,3323167,CLL,121733308,Delpo,Kayla,34120,F,1994-10-17 00:00:00,06/13/2014,INT,11/08/2016,GEN,Y,23.0,1,0
9968,9968,7255266,DUV,103535798,Douglass,Mary,32218,F,1972-04-17 00:00:00,11/26/1998,DEM,11/07/2006,GEN,Y,45.0,0,0
9969,9969,7831328,DUV,103392969,Huth,Sherian,32223,F,1950-03-11 00:00:00,10/05/1992,DEM,11/02/2010,GEN,Y,67.0,0,0
9971,9971,3065852,CLL,103082525,Wood,V,34110,M,1920-09-19 00:00:00,11/04/2002,REP,11/06/2012,GEN,E,97.0,0,1
9972,9972,3677451,CLL,103121131,GOODS,LYNN,34103,F,1951-08-10 00:00:00,10/04/2004,DEM,11/08/2016,GEN,E,66.0,1,0
9973,9973,4359647,DUV,103431973,Clay,William,32258,M,1964-11-09 00:00:00,10/02/1998,REP,11/06/2012,GEN,Y,53.0,0,1
9976,9976,6013364,DUV,114629338,Grubbs,Bradley,32277,M,1988-10-22 00:00:00,09/12/2006,REP,11/07/2006,GEN,A,29.0,0,0
9977,9977,6743016,DUV,103295354,Jones,Carrie,32216,F,1939-07-24 00:00:00,06/01/1999,DEM,11/07/2006,GEN,N,78.0,0,0
9978,9978,8152628,DUV,103720565,Bryan,Feng-Lu,32216,F,1965-07-20 00:00:00,10/10/2000,REP,11/04/2008,GEN,A,52.0,0,0
9980,9980,3744572,CLL,114702249,Guerra,Max,34117,M,1958-06-14 00:00:00,10/05/2006,NPA,11/07/2006,GEN,E,59.0,0,0
9984,9984,4179595,DES,111951071,James,Willie,34266,M,1954-11-03 00:00:00,10/31/2003,DEM,11/06/2012,GEN,Y,63.0,0,1
9985,9985,133593,BAY,100608917,HIGDON,PATRICIA,32444,F,1936-08-26 00:00:00,04/07/1962,REP,11/04/2014,GEN,A,81.0,0,0
9986,9986,1067836,CAL,102532655,Ethridge,Debra,32424,F,1961-01-06 00:00:00,10/04/2004,REP,11/02/2010,GEN,E,56.0,0,0
9987,9987,2822700,CLL,116582642,Kowalski,Margaret,34109,F,1923-09-19 00:00:00,08/27/2008,DEM,11/08/2016,GEN,A,94.0,1,0
9988,9988,6382679,DUV,103296082,Barton,Robert,32220,M,1960-11-16 00:00:00,10/03/1984,REP,11/04/2014,GEN,Y,57.0,0,0
9990,9990,7887207,DUV,103426257,Schmidt,Lashanda,32219,F,1971-06-23 00:00:00,04/15/1995,REP,11/06/2012,GEN,Y,46.0,0,1
9994,9994,3001732,CLL,103139979,Caruso,Helen,34119,F,1930-07-18 00:00:00,11/29/2005,NPA,11/02/2010,GEN,Y,87.0,0,0
9995,9995,988823,BRA,100737757,Padgett,Deanna,32091,F,1971-05-14 00:00:00,08/07/2000,DEM,11/04/2008,GEN,Y,46.0,0,0
9997,9997,410368,BAY,100688951,WIBBERLEY,JANA,32401,F,1972-10-09 00:00:00,08/07/2000,DEM,11/04/2008,GEN,Y,45.0,0,0
9998,9998,1836694,CLA,102919286,DIAZ,MARIA,32003,F,1960-11-24 00:00:00,09/15/2005,DEM,11/02/2010,GEN,Y,57.0,0,0

In [255]:
ection16 = votes.loc[votes["GEN16"]=="1"]
ection12 = votes.loc[votes["GEN12"]=="1"]

frames = [ection12, ection16]

thosewhovoted = pd.concat(frames)

In [256]:
thosewhovoted.head()

,Unnamed: 0,index,district,id,LAST_NAME,FIRST_NAME,zip,female,dob,regyear,party,electiondate,general,typeofvote,age,GEN16,GEN12
10,10,2075069,CLA,102861065,DOXEY,VICKEY,32656,F,1961-08-20 00:00:00,08/28/2000,REP,11/06/2012,GEN,Y,56.0,0,1
11,11,206657,BAY,116352668,LOGAN,JESSICA,32405,F,1987-10-06 00:00:00,07/01/2008,REP,11/06/2012,GEN,Y,30.0,0,1
43,43,2534421,CLA,102846025,OLSON,MICHAEL,32003,M,1969-04-07 00:00:00,05/21/1987,REP,11/06/2012,GEN,E,48.0,0,1
56,56,4272966,DIX,103237681,Endicott,Kathleen,32680,F,1951-06-02 00:00:00,10/04/2004,DEM,11/06/2012,GEN,Y,66.0,0,1
57,57,2470241,CLA,102892230,TORRES,JOSE,32003,M,1969-05-17 00:00:00,10/31/2003,REP,11/06/2012,GEN,A,48.0,0,1

In [257]:
np.sum(thosewhovoted.duplicated('id'))

1

In [ ]:
## SOMETHING IS WRONG....WHY WOULD THE ID NOT HAVE DUPLICATES?

In [175]:
#thosewhovoted = thosewhovoted.groupby('id').sum()
#get rid of duplicates...as in, one row per person

In [191]:
#df = thosewhovoted.groupby('id')
#df.head()

0

In [210]:
## Note that Riddhi already collapsed on the file

#np.sum(thosewhovoted["id"].duplicated())

#votes = votes.drop_duplicates('id', keep="first")

In [45]:
np.sum(votes["id"].duplicated())

0

In [258]:
frames = [didntshow, thosewhovoted]

FINALDOC = pd.concat(frames)

In [259]:
FINALDOC

,FIRST_NAME,GEN12,GEN16,LAST_NAME,Unnamed: 0,age,district,dob,electiondate,female,general,id,index,party,regyear,typeofvote,zip
5,DEKOTA,NaN,NaN,BASS,5,23.0,CLM,1994-07-04 00:00:00,NaN,M,NaN,118771850,3944919,DEM,03/23/2011,NaN,32096
68,Sandranna,NaN,NaN,Washington,68,19.0,DES,1998-06-14 00:00:00,NaN,F,NaN,123635719,4208434,DEM,06/23/2016,NaN,34266
134,Nicole,NaN,NaN,Ogburn,134,28.0,DUV,1989-10-21 00:00:00,NaN,F,NaN,115579075,7987735,NPA,11/06/2007,NaN,32204
138,BRITTANY,NaN,NaN,COWFER,138,27.0,CLA,1990-06-12 00:00:00,NaN,F,NaN,119788862,2573615,NPA,06/08/2012,NaN,32003
157,Felice,NaN,NaN,Lepore,157,44.0,DUV,1973-01-31 00:00:00,NaN,M,NaN,124431068,7358833,REP,11/23/2016,NaN,32218
165,Emilee,NaN,NaN,Kokos,165,25.0,DUV,1991-12-14 00:00:00,NaN,F,NaN,120619646,8308546,NPA,12/14/2012,NaN,322255119
177,Doreenkay,NaN,NaN,Ford,177,41.0,DUV,1976-04-30 00:00:00,NaN,F,NaN,123408211,5026567,NPA,04/11/2016,NaN,32223
243,Ayla,NaN,NaN,Burpee,243,28.0,CHA,1989-05-24 00:00:00,NaN,F,NaN,117391783,1510337,NPA,03/06/2009,NaN,33954
261,DOROTHY,NaN,NaN,LAUN,261,60.0,CLA,1957-11-22 00:00:00,NaN,F,NaN,122177632,2387713,NPA,12/08/2014,NaN,32065
432,TOD,NaN,NaN,HOOVER,432,57.0,CLA,1960-06-23 00:00:00,NaN,M,NaN,117551985,2080183,REP,06/05/2009,NaN,32043
474,JEFFREY,NaN,NaN,WARDRUP,474,20.0,CLA,1997-11-25 00:00:00,NaN,M,NaN,123273455,2006928,REP,03/01/2016,NaN,32065
497,Rashaud,NaN,NaN,Mixson,497,35.0,DUV,1982-07-26 00:00:00,NaN,U,NaN,124061261,6290820,DEM,09/22/2016,NaN,32254
536,Jacob,NaN,NaN,Blackwell,536,25.0,BRA,1992-08-26 00:00:00,NaN,M,NaN,120274485,933831,NPA,09/27/2012,NaN,32091
583,Rodney,NaN,NaN,Jessop,583,47.0,CLL,1970-11-08 00:00:00,NaN,M,NaN,117190151,3229878,NPA,11/06/2008,NaN,34120
736,Danielle,NaN,NaN,Wallace,736,20.0,DUV,1997-03-21 00:00:00,NaN,F,NaN,122453430,4885142,REP,04/16/2015,NaN,32224
744,Walter,NaN,NaN,Lansford,744,76.0,DUV,1940-12-23 00:00:00,NaN,M,NaN,118875183,5406862,NPA,05/12/2011,NaN,32211
874,Andre,NaN,NaN,Smith,874,19.0,DUV,1998-10-09 00:00:00,NaN,U,NaN,124061610,8061636,NPA,08/22/2016,NaN,32277
1152,Shayne-Michael,NaN,NaN,Bofill,1152,22.0,DUV,1995-02-03 00:00:00,NaN,M,NaN,123181273,5043609,REP,02/09/2016,NaN,32207
1154,Brian,NaN,NaN,Anderson,1154,57.0,DUV,1960-03-05 00:00:00,NaN,M,NaN,121504577,8308405,INT,03/05/2014,NaN,32207
1157,JOHN,NaN,NaN,MINATREE,1157,26.0,CLM,1991-01-05 00:00:00,NaN,M,NaN,122037228,4017999,NPA,10/07/2014,NaN,32055
1186,Natalia,NaN,NaN,Oduber,1186,23.0,DUV,1994-05-03 00:00:00,NaN,F,NaN,122197089,4774510,NPA,12/17/2014,NaN,32210
1187,Jason,NaN,NaN,Selby,1187,36.0,BRA,1981-10-16 00:00:00,NaN,M,NaN,119095976,977736,REP,09/07/2011,NaN,320918779
1194,JAMILLA,NaN,NaN,PASHA,1194,28.0,BAY,1989-01-05 00:00:00,NaN,F,NaN,116697177,112182,DEM,09/16/2008,NaN,32404
1256,Brittany,NaN,NaN,Stump,1256,25.0,DUV,1992-06-08 00:00:00,NaN,F,NaN,118150277,7324134,REP,05/13/2010,NaN,32218
1304,Karen,NaN,NaN,Whisler,1304,46.0,CLL,1971-06-30 00:00:00,NaN,F,NaN,122825512,3240445,REP,09/25/2015,NaN,34113
1336,KADEEM,NaN,NaN,CALDWELL,1336,26.0,BAY,1991-01-08 00:00:00,NaN,M,NaN,124400236,613620,DEM,11/08/2016,NaN,32401
1351,Daryl,NaN,NaN,Lampkins,1351,30.0,DUV,1987-03-19 00:00:00,NaN,M,NaN,116342718,6416796,DEM,06/27/2008,NaN,32209
1383,Anthony,NaN,NaN,French,1383,25.0,DUV,1992-09-03 00:00:00,NaN,M,NaN,117435441,5287864,REP,03/26/2009,NaN,32225
1384,ANTHONY,NaN,NaN,SHERMAN,1384,22.0,CLA,1995-11-04 00:00:00,NaN,M,NaN,120956757,2317915,NPA,06/13/2013,NaN,32003
1402,Marisa,NaN,NaN,Moroni,1402,24.0,CHA,1993-04-08 00:00:00,NaN,F,NaN,121349820,1749772,NPA,12/26/2013,NaN,33953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9745,Eva,0,1,Moore-Carswell,9745,78.0,DUV,1938-12-24 00:00:00,11/08/2016,F,GEN,103557340,6639612,DEM,10/05/1992,E,32254
9747,Patrick,0,1,Di Nenna,9747,32.0,CHA,1985-01-06 00:00:00,11/08/2016,M,GEN,115507767,1304420,REP,10/05/2007,E,33953
9761,John,0,1,Rowe,9761,46.0,CLL,1971-10-02 00:00:00,11/08/2016,M,GEN,103051393,3408284,REP,11/02/2000,A,34120
9777,William,0,1,Holland,9777,59.0,DUV,1958-08-12 00:00:00,11/08/2016,M,GEN,103609252,8012408,REP,06/23/1982,E,32216
9786,Ted,0,1,Walbourn,9786,71.0,CHA,1946-05-01 00:00:00,11/08/2016,M,GEN,102649789,1655110,DEM,05/14/2003,E,33950
9789,Linda,0,1,Reed,9789,69.0,CLL,1948-02-25 00:00:00,11/08/2016,F,GEN,117854412,3287536,DEM,11/23/2009,A,34112
9795,Victor,0,1,Cirillo,9795,68.0,DUV,1949-05-24 00:00:00,11/08/2016,M,GEN,103375203,5577689,REP,04/15/1995,E,32225
9798,David,0,1,Boyd,9798,36.0,DUV,1981-07-07 00:00:00,11/08/2016,M,GEN,115700898,7689478,NPA,12/26/2007,A,32225
9808,BRETT,0,1,HOOD,9808,34.0,CLA,1983-08-05 00:00:00,11/08/2016,M,GEN,120495024,2562934,REP,10/18/2012,Y,32068
9836,Robert,0,1,Harrison,9836,70.0,DES,1947-02-09 00:00:00,11/08/2016,M,GEN,103213378,4192036,DEM,03/25/1969,E,34266
9847,PETER,0,1,STEFFEN,9847,62.0,CLA,1955-03-20 00:00:00,11/08/2016,M,GEN,102842754,2319383,REP,03/29/1984,A,32043
9859,Lauren,0,1,Lagle,9859,32.0,DUV,1984-12-22 00:00:00,11/08/2016,F,GEN,103315516,7352231,NPA,03/11/2004,Y,32246
9861,Nizar,0,1,Ghoussaini,9861,67.0,CLL,1950-11-17 00:00:00,11/08/2016,M,GEN,116162041,2683240,NPA,05/13/2008,E,34108
9864,COLLEEN,0,1,GALLAGHER,9864,53.0,BAY,1963-12-15 00:00:00,11/08/2016,F,GEN,100647257,319854,DEM,10/06/1994,E,32401
9879,Olive,0,1,Rice,9879,95.0,DUV,1922-07-16 00:00:00,11/08/2016,M,GEN,103461967,7070503,NPA,09/25/1975,E,32266
9884,Bobby,0,1,Soles,9884,81.0,DUV,1936-01-21 00:00:00,11/08/2016,M,GEN,103756264,4931499,REP,01/24/1984,E,32225
9890,Sheila,0,1,Bendikian,9890,75.0,CLL,1942-05-05 00:00:00,11/08/2016,F,GEN,120838329,3829335,DEM,04/12/2013,E,34112
9895,Marites,0,1,Timones,9895,40.0,DUV,1977-01-25 00:00:00,11/08/2016,F,GEN,114248440,4596402,NPA,04/20/2006,E,322562970
9898,ELENA,0,1,ETTER,9898,67.0,CLA,1950-08-13 00:00:00,11/08/2016,F,GEN,102850457,2007818,NPA,08/29/1988,A,320732771
9906,BARBARA,0,1,RICHMOND,9906,63.0,DUV,1954-09-24 00:00:00,11/08/2016,F,GEN,103885588,7709933,REP,02/17/2004,E,32258
9916,Tish,0,1,Robinson,9916,55.0,DUV,1962-10-11 00:00:00,11/08/2016,F,GEN,123435334,7491214,REP,05/06/2016,Y,32225
9917,Patricia,0,1,Avallone,9917,71.0,CLL,1946-11-15 00:00:00,11/08/2016,F,GEN,122858906,3133532,DEM,10/07/2015,E,34104
9931,Linda,0,1,Kayler,9931,71.0,CLL,1946-07-19 00:00:00,11/08/2016,F,GEN,103109033,3407874,DEM,05/10/2004,Y,34102
9932,John,0,1,Foit,9932,81.0,DUV,1936-01-08 00:00:00,11/08/2016,M,GEN,103584668,7518410,REP,10/05/1992,A,32216
9940,Carmencita,0,1,Thurston,9940,34.0,DUV,1983-08-25 00:00:00,11/08/2016,F,GEN,103511174,6560554,DEM,01/03/2002,E,32206
9961,Domingo,0,1,Rodriguez,9961,72.0,CLL,1944-12-20 00:00:00,11/08/2016,M,GEN,122701471,2713876,DEM,07/31/2015,E,34120
9962,Adolfo,0,1,Paraso,9962,69.0,DUV,1948-09-27 00:00:00,11/08/2016,M,GEN,103614979,7529612,REP,10/02/1986,Y,32246
9967,Kayla,0,1,Delpo,9967,23.0,CLL,1994-10-17 00:00:00,11/08/2016,F,GEN,121733308,3323167,INT,06/13/2014,Y,34120
9972,LYNN,0,1,GOODS,9972,66.0,CLL,1951-08-10 00:00:00,11/08/2016,F,GEN,103121131,3677451,DEM,10/04/2004,E,34103
9987,Margaret,0,1,Kowalski,9987,94.0,CLL,1923-09-19 00:00:00,11/08/2016,F,GEN,116582642,2822700,DEM,08/27/2008,A,34109

In [260]:
FINALDOC.to_csv('Milestonethree.csv', sep=',')

In [261]:
len(FINALDOC.id.unique())

2332

In [262]:
len(FINALDOC)

2333